# Visual Studio / WinForms (C#)

# IDE
.vs/
.vscode/
.idea/
_ReSharper*/
*.DotSettings.user

# Build / artefactos
[Bb]in/
[Oo]bj/
[Dd]ebug*/
[Rr]elease*/
x64/
x86/
[Aa][Rr][Mm]*/
[Ll]ogs/
artifacts/
publish/
*.log
*.binlog
.vshistory/
.history/

# Test / cobertura
[Tt]est[Rr]esults/
*.trx
*.coverage
*.coveragexml
OpenCover/

# Paquetes / dependencias
packages/
**/[Pp]ackages/*
!**/[Pp]ackages/build/
node_modules/
.nuget/
*.nupkg
*.snupkg
project.lock.json
project.fragment.lock.json
*.nuget.props
*.nuget.targets

# Archivos de usuario / solución
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Archivos intermedios / caches
*.obj
*.pdb
*.ipdb
*.cache
*.tlog
*.idb
*.iobj
*.pch
*.ilk
*.tmp
*_wpftmp.csproj

# SQL LocalDB
*.mdf
*.ldf
*.ndf

# Publicación / Azure
*.[Pp]ublish.xml
*.pubxml
*.publishproj
PublishScripts/
ScaffoldingReadMe.txt

# Otros
Thumbs.db
Desktop.ini
*.tmp
*.bak
